{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'posts/dist/output.css' %}">
  <title>My Diary</title>
</head>
<body class="min-h-screen">

  <header>
    <nav class="container max-w-5xl mx-auto flex justify-between p-4">
      <h1 class="text-4xl font-semibold">My Diary</h1>
      <ul class="flex gap-5 text-2xl font-semibold">       
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'post-create' %}">New</a></li>
        <li><a href="{% url 'post-list' %}">List</a></li>
      </ul>
    </nav>
  </header>

  <main class="container max-w-5xl mx-auto mt-15 p-4">

    {% block content %}
    {% endblock content %}

  </main>

  <footer class="container max-w-5xl mx-auto bg-gray-100 py-6 mt-15">
    <div class="px-6 text-center">
      <p>&copy; 2025 Myeonggyun Park. All rights reserved.</p>
    </div>
  </footer>
  
</body>
</html>