{% extends "menus/base.html" %}
{% load static %}

{# CONTENT #}
{% block content %}
<div id="content" class="min-w-7xl h-full content-bg">
    <div class="w-[1200px] mx-auto">

        {# TITLE #}
        <div class="text-center">
            <h2 class="text-[28px] font-semibold text-[#333236] tracking-[-0.1px]">
                Today's Menu
            </h2>

            <p class="mt-[13px] mb-[76px] text-[17px] font-semibold text-[#d71414] ml-1">
                {{ date|date:"l / M-d, Y" }}
            </p>
        </div>

        {# FOOD LIST #}
        <div class="w-[815px] mx-auto flex flex-wrap justify-between items-start">

            {# FOOD ITEM #}
            <div class="basis-[350px] pb-[146px] relative">
                <div class="absolute w-[30px] h-[30px] bg-[#d71414] -top-1.5 -left-1.5 z-1"></div>

                <img src="{% static './menus/images/chicken.jpg' %}" class="w-full h-full">

                <div>
                    <h3 class="pt-10 pb-[13px] text-[23px] font-semibold text-[#333236]">
                        Chicken
                    </h3>

                    <p class="pb-[34px] leading-normal text-[17px] text-[#333236]">
                        A taste you’ve never experienced before.<br>
                        Is it ribs or chicken?
                    </p>

                    <a href="#"
                      class="px-4 py-[9px] text-[18px] font-semibold bg-[#d71414] text-white inline-block transition-all duration-300 hover:bg-[#ac1313]">
                      View Menu
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock content %}